body {
    margin: 0px;
    background-color: black;
    font-family: "helvetica";
    font-size: 15px;
}

a {
    color: whitesmoke;
}


.wrapper {
    height: 100vh;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

.intro {
    padding-left: 1%;
    padding-top: 1%; 
}

.reach-me {
    text-align: right;
    color: whitesmoke;
}

h2 {
    margin: 0px;
    color: whitesmoke;
}

* {box-sizing:border-box}

/* Slideshow container */
.image-slideshow-wrapper {
    max-width: 1000px;
  position: relative;
  margin-left: 20vw;
    margin-right: 20vw;
}

/* Hide the images by default */
.mySlides {
    display: block;
}


.reach-me img {
    max-width: 2vw;
}

