body {
    margin: 0px;
    background-color: black;
    font-family: "helvetica";
    font-size: 15px;    
    
}

.intro {
    display: block;
    width: 100vw;
    padding-left: 1%;
    padding-top: 1%; 
    text-align: center;
    color: whitesmoke;
    position: fixed;
    
}

a {
    color: whitesmoke;
}


.wrapper {
    height: 100vh;
    text-align: center;

}

.video {
    margin-top:8vw;    
    margin-bottom: 2vw;
}

#no {
    text-decoration: none;    
}
